/*General*/

/*Color Pallete:
black -#0D0106 
dark blue - #3626A7 
light blue - #657ED4 
orange - #FF331F 
white - #FBFBFF
*/

body {
	font-family: 'Bubbler One', sans-serif;
	background-color: #FF331F;
	color: #FBFBFF;
}
h1 {
	font-family: 'Permanent Marker', cursive;
}

article:first-child h1 {
	margin-top:0;
}

/*Page Layout*/

div.container {
	background-color: #3626A7;
	max-width: 80%;
	margin: 0 auto;
	padding-bottom: 10px;
}

article,
section {
	background-color: #3626A7;
}

article h1, 
article h2 {
	text-align: center;
}

/*section {
	background-color: #3626A7;
}*/

/*div {

}*/


/*Header and Footer Styling*/
header h1,
nav,
nav ul,
nav ul li,
footer ul,
footer ul li {
	display: inline;
	padding: 10px;
}

nav a,
footer a {
	color: #FBFBFF;
	text-decoration: none;
}

header,
footer {
	background-color: #0D0106;
	color: #FBFBFF;
}

footer p {
	margin-top: 0;
}

/*section:last-child {
	margin-bottom: : 0;
}*/

/*Image Stying*/

div.image {
	display: block;
	width: 100%;
	margin: 0 auto;
}

div.image img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

div.imgleft,
div.imgleft + p,
/*div.imageText,
div.imageText p*/ {
	display: inline;
}

div.imgleft img {
	display: inline;
	max-width: 200px;
}

div.imgleft > * {
    vertical-align: middle;
    line-height: normal;
}

article.productGrid {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

div.productCard {
	border: 2px solid orange;
	width: 45%;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

div.productImage {
	align-self: center;
	display: in;
}

div.productImage img {
	width: 200px;
}

/*div.productDetails {
	width: 80%;
}*/



