/*General*/

/*Color Pallete:
black -#0D0106 
dark blue - #3626A7 
light blue - #657ED4 
orange - #FF331F 
white - #FBFBFF
*/

html {
	margin : 0;
	padding: 0;
}

body {
	font-family     : 'Bubbler One', sans-serif;
	background-color: #DACC3E;
	color           : #000;
	letter-spacing: 0.5px;
	margin          : 0;
}

h1 {
	font-family: 'Permanent Marker', cursive;
}

strong {
	font-family: 'Permanent Marker', cursive;
	font-size  : 1.1em;
	font-weight: 600;
}

a {
	text-decoration: none;
	color          : #FF331F;
}

/*Header and Footer Styling*/
header h1,
nav,
nav ul,
nav ul li,
footer ul,
footer ul li {
	display: inline;
	padding: 0 10px;
	margin : 0;
}

nav a,
footer a {
	color          : #FBFBFF;
	text-decoration: none;
}

header,
footer {
	background-color: #0D0106;
	color           : #FBFBFF;
}

footer {
	width          : 100%;
	padding        : 1em 0;
	display        : inline-flex;
	justify-content: space-around;
	align-items    : center;
}

footer p {
	margin-top: 0;
}

/*section:last-child {
	margin-bottom: : 0;
}*/

/*Page Layout*/

div.container {
	background-color: #7FB7BE;
	max-width       : 80%;
	margin          : 0 auto;
	padding         : 1.2em;
}

article,
section {
	background-color: #7FB7BE;
}

article h1, 
article h2 {
	text-align: center;
}

article:first-child h1 {
	margin-top:0;
}

div ul {
	text-align: center;
	margin    : 0;
	padding   : 0 0;
}

div ul li {
	display        : inline;
	padding        : 0 1.2em;
	list-style-type: none;
}

/*Flexbox for grid*/
#productGrid {
	display        : inline-flex;
	flex-wrap      : wrap;
	justify-content: space-around;
	align-items    : center;
	align-content  : stretch;
}

/*flexbox for cards*/

div.productCard {
	background-color: #D3F3EE;
	color           : #000;
	margin          : 1em;
	width           : 45%;
	display         : inline-flex;
	flex-wrap       : nowrap;
	justify-content : space-around;
	align-items     : center;
}

div.productImage {
	max-width: 45%;
}

div.productImage img {
	max-width: 100%;

}

div.productDetails {
	padding: 0 1em;
}

.productDetails span {
	font-family: 'Permanent Marker', cursive;
	font-weight: 600;
	color: #FF331F;
	font-size: 1.1;
}

/*Image Stying*/

#homeImage img {
	width:80%;
}

div.image {
	display: block;
	width  : 100%;
	margin : 0 auto;
}

div.image img {
	margin   : 0 auto;
	display  : block;
	max-width: 100%;
}

div.imgleft {
	display: inline;
}

div.imgleft img {
	display  : inline;
	max-width: 200px;
}

div.imgleft > * {
	vertical-align: middle;
	line-height   : normal;
}




